.venv/
__pycache__/
*.pyc

client_secrets.json
youtube-credentials.json

# Contenido de medios generados
*.txt
*.mp4
*.mp3
*.m4a
*.m4v
*.json

# Archivos DB_Store
*.DS_Store

# Archivos de configuración local
.env

# Archivos de control
GEMINI.md

output/temp_ffmpeg