# Dev environment
pip
autopep8

# App & Agentic Workflow
flask
langchain
langgraph
openai
python-dotenv

# Background Task Queue
celery
redis

# Video & Audio Processing
moviepy

# YouTube API
google-api-python-client
oauth2client

# Suno AI API (Unofficial)
SunoAI
requests

